
@{
    ViewData["Title"] = "About Socus";
}

<div class="container">
    <div class="text-center text-dark justify-content-center">
        <h1>We are Socus</h1>
        <p>Dropping the hottest Social Media site of 2022!</p>

    </div>
</div>

<div id="myCarousel" class="carousel slide carousel-dark" data-bs-ride="carousel" width="80%">


    <div class="carousel-inner">


        <div class="carousel-item active">
            <img src="~/images/success-guy.jpg" width="100%" />
            <div class="container">
            </div>
        </div>

        <div class="carousel-item">
            <img src="~/images/hair-guy.jpg" width="100%" />
            <div class="container">
            </div>
        </div>

        <div class="carousel-item">
            <img src="~/images/watermelon-guy.jpg" width="100%" />
            <div class="container">

            </div>
        </div>

        <div class="carousel-item">
            <img src="~/images/what-guy.png" width="100%" />
            <div class="container">

            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container marketing mt-5"> 

        <div class="row mt-5">

            <div class="col-lg-4">
                <h2 class="fw-normal">Our Company</h2>
                <p>Socus is the up and coming social media competitor to modern social media giants.
                    We strive to provide users with a new and exciting platform not only free of ads,
                    but free of pro-vegetable propaganda.</p>
            </div>

            <div class="col-lg-4">
                <h2 class="fw-normal">Our Philosophy</h2>
                <p>We offer a user experience unlike any other specifically for those who are lost, insecure,
                    or just plain left out. We offer a user a way to connect with people based off of a 
                    sense of unity and camaraderie.
                </p>
            </div>

            <div class="col-lg-4">
                <h2 class="fw-normal">Our People</h2>
                <p>We invest in our people through flexible work hours, remote work options, comprehensive benefits, a company-matched pension plan, an in-house professional development program, and more</p>
            </div>

        </div>

        <hr class="featurette-divider mt-5">

        <div class="row featurette mt-5">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal mb-3">Our Success. <span class="text-muted"> Fastest Growing Social Media </span></h2>
                <p class="lead">
                    <strong>Principles Over Profits</strong><br />
                    We believe in making a user feel special. They are the only one
                    that matters, and anything is possible when you do stuff together.
                    We want that for you. </p>
            </div>
            <div class="col-md-5">
                <img src="~/images/success.jpeg" width="100%" />
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Our Social Impact. <span class="text-muted">We are a responsible company.</span></h2>
                <p class="lead">Socus is committed to supporting the communities and people of the world. 
                    We are proud to give back through our many social initiatives, by connecting people
                    making donations and finding ways to help the environment. </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="~/images/social.jpeg" width="100%" />
            </div>
        </div>


