@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using System.Security.Claims
@model ASPNetSocialMedia.Models.Post

<!doctype html>
<html>
<head>
    <title>Social Media</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dangrek&display=swap" rel="stylesheet">
</head>
<body>
    
    @if (SignInManager.IsSignedIn(User))
    {
        <div  id="alert" class="alert alert-info" role="alert">
            Click here to edit your profile information
            <button type="button" class="btn btn-info">
                <a href="/Home/CompleteProfile">Edit Profile</a>
            </button>
        </div>

        <!--Create Post-->
        <div class="card" style="width: 40rem;">
            <div class="card-body">
                <h5 class="card-title">Post</h5>
                <h6 class="card-subtitle mb-2 text-muted">Tell About Your Day</h6>
                <form asp-controller="Posts" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <textarea asp-for="PostContent" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="WhoPosted" class="form-control" value="@User.FindFirst(ClaimTypes.NameIdentifier).Value" />
                        
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Post" class="btn btn-info" style="margin-top:10px" />
                    </div>
                </form>
            </div>
        </div>
        

















        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
                <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
                <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
                <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    }

    else{
        
        <style>
            #main{
                width: 100%;
                margin: 0px !important;
                padding:0px !important;
                background-image: url("https://images.unsplash.com/photo-1658474598480-74daa87936af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
                background-size:cover;
                background-position:center;
                height: calc(100vh - 55.98px);
            }

            .welcome{
            left: 0;
            line-height: 200px;
            margin-top: -100px;
            position: absolute;
            text-align: center;
            top: 35%;
            width: 100%;
            font-size: 8vw;
            font-family: 'Dangrek', cursive;
              color:#FFFDDE;
            }

                #neonBtn{
                            font-size: 8vw;
                position: relative;
                display: inline-block;
                  font-family: 'Dangrek', cursive;
                  color:#FFFDDE;
                text-decoration: none;
                text-transform: uppercase;
                transition: 0.5s;
                letter-spacing: 4px;
                overflow: hidden;
                padding-left:15px;
                padding-right:15px;

            }
            
            #neonBtn:nth-child(1){
                filter: hue-rotate(270deg);
            }
          #neonBtn:nth-child(2){
                filter: hue-rotate(110deg);
            }
            #neonBtn span{
                position: absolute;
                display: block;
            }
            #neonBtn span:nth-child(1){
                top: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background: linear-gradient(90deg,transparent,white);
                animation: animate1 2s linear infinite;
            }
            @@keyframes animate1{
                0%{
                    left: -100%;
                }
                50%,100%{
                    left: 100%;
                }
            }
            a span:nth-child(2){
                top: -100%;
                right: 0;
                width: 2px;
                height: 100%;
                background: linear-gradient(180deg,transparent,white);
                animation: animate2 2s linear infinite;
                animation-delay: 0.50s;
            }
            @@keyframes animate2{
                0%{
                    top: -100%;
                }
                50%,100%{
                    top: 100%;
                }
            }
            #neonBtn span:nth-child(3){
                bottom: 0;
                right: 0;
                width: 100%;
                height: 2px;
                  background: linear-gradient(270deg,transparent,white);
                animation: animate3 2s linear infinite;
                animation-delay: 1s;
            }
            @@keyframes animate3{
                0%{
                    right: -100%;
                }
                50%,100%{
                    right: 100%;
                }
            }


            #neonBtn span:nth-child(4){
                bottom: -100%;
                left: 0;
                width: 2px;
                height: 100%;
                background: linear-gradient(360deg,transparent,white);
                animation: animate4 2s linear infinite;
                animation-delay: 1.5s;
            }
            @@keyframes animate4{
                0%{
                    bottom: -100%;
                }
                50%,100%{
                    bottom: 100%;
                }
            }


        </style>
        
            <div class="welcome">
               
            <a id="neonBtn" href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Welcome
            </a>
            </div>
            
    }
    
</body>
</html>
