<body>
    <div class="card">
        <div class="search">
            <input type="text" class="search-bar" placeholder="Search">
            <button>Search City</button>
        </div>
        <div class="weather loading">
            <h2 class="city"></h2>
            <h1 class="temp"></h1>
            <h4 class="temp-min"></h4>
            <h4 class="temp-max"></h4>
            <div class="flex">
                <img src="" alt="weather icon" class="icon" />
                <div class="description"></div>
            </div>
            <div class="humidity"></div>
            <div class="wind"></div>
        </div>
    </div>
</body>


<script src="~/js/weather.js"></script>
