@model ASPNetSocialMedia.Models.FriendRelation

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete your friend?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Friend Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FriendName)
        </dd>
        <dt hidden class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd hidden class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt class = "col-sm-2">
            Friend Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FriendEmail)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FriendRelationId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
