* {
    font-family: 'Montserrat', sans-serif;
}

#navbar {
    height: 70px;
}

#footer {
    position: fixed;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
}


.body-text {
    margin-left: 150px;
    font-size: 18px;
}

#profile {
    margin: 5px;
    word-wrap: break-word;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #E7FBBE;
    position: fixed;
    top: 70px;
    bottom: 50px;
    height: auto;
}


    /* Sidebar links */
    .sidebar a {
        display: block;
        color: #D2BEFB;
        padding: 5px;
        text-decoration: none;
        font-size-adjust:inherit;
        font-family: 'Anton', sans-serif;
        font-size:x-large;
    }

.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#mainBody{
    margin-left: 22%;
    margin-top: 100px;
    margin-right: 100px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.container {
    padding: 16px;
}


/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
        font-size: 10px;
    }
}

    /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
    @media screen and (max-height: 700px) {
        .sidebar {
            position:absolute;
        }
    }

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 900px) {
    .sidebar {
        position: absolute;
    }
    
}
