@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASPNetSocialMedia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ASPNetSocialMedia.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="margin:0px !important;">
            <div class="container-fluid">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="https://i.ibb.co/W0L3g2y/logo.png" alt="logo" width="50" height="50"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1">
                        <!--<li class="nav-item">
                            <a class="nav-link text-dark">
                                <input type="search" class="form-control" placeholder="Search" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <img src="https://i.ibb.co/4Vg3Qh0/search.png" alt="search" height="35" style="padding-top:18px">
                        </li>-->
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="sidebar">
                    <img src="https://i.ibb.co/7SC8jpg/profile-picture.png" alt="profile-picture" id="profile" />
                    <div id="tab">@UserManager.GetUserName(User)</div>
                  
                    <div id="tab">
                        <a asp-area="" asp-controller="Home" asp-action="Index">My Feed</a>
                     </div>
                    <div id="tab">
                        <a class="nav-text" asp-area="" asp-controller="ApplicationUser" asp-action="Index">Find Friends</a>
                    </div>
                    <div id="tab">
                        <a class="nav-text" asp-area="" asp-controller="Home" asp-action="Chat">Public Chat</a>
                    </div>
                    <div id="tab">
                        <a asp-action="Edit" asp-route-email="@UserManager.GetUserName(User)">Edit personal information</a>
                    </div>
                </div>

            }
            
            @RenderBody()
        </main>
    </div>

    <footer class="bg-light text-center text-lg-start" id="footer">
        <div class="text-center p-3">
            © 2022 Social Media
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
