* {
    font-family: 'Montserrat', sans-serif;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.sidebar {
    height: 100%;
    width: 15vw;
    position: fixed;
    left: 0;
    background-color: #D9D7F1;
    font-family: 'Open Sans', sans-serif;
    
    text-align:center;
}


.body-text {
    margin-left: 150px;
    font-size: 18px;
}

#tab {
    padding: 0.75vw;
    font-size: 1.5vw;
    word-wrap: break-word;
}

    #tab a {
        text-decoration: none;
        color:black;
    }

    #tab a:hover {
        text-decoration: underline;
        color: black;
    }

.pb-3{
    margin-left: 15vw;
}

#profile{
    width: 12vw;
    height: 12vw;
    padding: 1vw;
}