<style>
    .card{
        margin-left: 200px;
    }
</style>

<div class="card">
  <div class="card-header">
        <img src="https://i.ibb.co/VN47N5q/bob.png" alt="bob" width="50" height="50">
    Bob Smart
  </div>
  <div class="card-body">
    <h5 class="card-title">September 12, 2022</h5>
    <p class="card-text">I don't post often, but when I do, I post nonsense</p>
    <a href="#" class="btn btn-primary">Like</a>
    <a href="#" class="btn btn-primary">Comment</a>
    <a href="#" class="btn btn-primary">Share</a>
  </div>
</div>
